<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
</head>

<body>

<section class="dvCheckout">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <button class="btn">Show Order Summary</button>
                <span><i class="fas fa-rupee-sign"></i>1,700.00</span>
            </div>
            <div class="col-lg-8">

            </div>
        </div>
    </div>
</section>

</body>

</html>
